{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
                <h1>Formations</h1>

                <div>
                    {% for courses in results %}
                      
                         <p><a href="#">  {{ courses.name }}</a><p>
                           
                            
                       
                    {% endfor %}
            </div>
        
    </div>
{% endblock %}
